#yoooo:hover{
    background-color: black;
  }
  #yooo:hover{
   background-color: rgb(211, 112, 112);
  }
  
  .yoo  :hover{
    text-decoration-line: underline;
    background-color: rgb(114, 144, 114);
    
  }